# minimum 12 symbols
APP_PASSWORD=""
# https://randomkeygen.com/
# minimum 16 symbols
SESSION_SECRET=""
# https://aistudio.google.com/api-keys
GEMINI_API_KEY=""
# comma separated ISO 639-1 values
TRANSLATION_SOURCE_DEFAULT_LANGUAGES="ja,en"
# ISO 639-1 value
TRANSLATION_TARGET_DEFAULT_LANGUAGE="my"

VOCABULARY_ENABLED_BY_DEFAULT="true"
ACCESS_TOKEN_COOKIE_NAME="yomika_access_token"
AUTH_COOKIE_SECURE="false"

PADDLEOCR_VL_BASE_URL="http://127.0.0.1:43102"
PADDLEOCR_VL_CPU_THREADS="16"
PADDLEOCR_VL_MKLDNN_CACHE_CAPACITY="32"
API_PORT="43100"
CLIENT_APP_PORT="43101"
