# minimum 12 symbols
APP_PASSWORD=""
# https://randomkeygen.com/
# minimum 16 symbols
SESSION_SECRET=""
# https://github.com/settings/personal-access-tokens/new?name=GitHub+Models+token&user_models=read
GITHUB_MODELS_TOKEN=""
# https://aistudio.google.com/api-keys
GEMINI_API_KEY=""
# cpu or gpu
OCR_RUNTIME=""
# full or fast
OCR_PROFILE="full"
# language name ("chinese", "vietnamese", "burmese", "nepali", etc.)
TRANSLATION_TARGET_DEFAULT_LANGUAGE=""

VOCABULARY_ENABLED_BY_DEFAULT="true"
# comma separated ISO 639-1 values (single "ja" or multipe "ja,en" values)
TRANSLATION_SOURCE_DEFAULT_LANGUAGES="ja,en"

ACCESS_TOKEN_COOKIE_NAME="yomika_access_token"
AUTH_COOKIE_SECURE="false"

PADDLEOCR_VL_BASE_URL="http://127.0.0.1:43102"
API_PORT="43100"
CLIENT_APP_PORT="43101"
